<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
  body{
    font-family:"Ubuntu";
  }

  #principal{
    width: 80%;
    height: auto;
    background: rgb(255, 255, 255);
    margin: auto;
    padding-top: 40px;
  }
  #tabla{
    margin: auto;
    padding-bottom: 40px;
  }
  .jst{
    text-align: justify;
  }
  .cent{
    text-align: center;
  }
  #titulo{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #boton{
    background:#0098eb;
    color:#ffffff;
    font-size:19px;
    font-weight:bold;
    line-height:100%;
    text-decoration:none;
    padding:13px 38px 13px 38px;
    border-radius:6px;
    border: 1px black solid;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #boton:hover{
    background:#0270ac;
  }
  
  @media only screen and (max-width:542px) {
    #titulo{
    font-size: 30px;
    }
  }
    @media only screen and (max-width:442px) {
    #titulo{
    font-size: 20px;
    }
    #boton{
    margin-bottom: 30px;
    margin-top: 30px;
    }
    
  }
</style>
<body>
  <div id="principal">
    <table id="tabla" >
      <tr>
        <td id="titulo" class="cent"><b>Hola, <%= nombre %></b></td>
      </tr>
      <tr>
        <td class="jst">Con el siguiente boton usted puede recuperar su contraseña, acuerdate que debe tener 6 caracteres como minimo y ademas debe tener una letra mayuscula,una letra minuscula y un numero.<br></td>
      </tr>
      <tr>
        <td class="cent">
          <a href="<%= url %>" style="display:inline-block;background:#0183C7;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;font-size:19px;font-weight:normal;line-height:100%;Margin:0;Margin-top:20px;Margin-bottom:20px;text-decoration:none;text-transform:none;padding:13px 38px 13px 38px;mso-padding-alt:0px;border-radius:6px;" target="_blank">
            <div><strong>Recuperar Contrase&#xF1;a</strong></div>
          </a>
      </td>
      </tr>
      <tr>
        <td class="cent"> <b> Este enlace tiene una duracion solo de 3 min. para cambiar su contraseña</b></td>
      </tr>
      <tr>
        <td class="jst"> 
          <br>
          Una vez que restablezcas tu contraseña, podrás acceder a tu cuenta con tu correo electronico y nueva contraseña.
          <br>
          <br>
          ¿No necesitas una nueva contraseña o te acordaste de la antigua? No hay problema. Tu antigua contraseña aún es válida.
          <br> 
          <br>
          Saludos, Tienda <%= tienda %></td>
      </tr>
    </table>
  </div>
</body>

</html>
