<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
  body{
    font-family:"Ubuntu";
  }

  #principal{
    width: 80%;
    height: auto;
    background: rgb(255, 255, 255);
    margin: auto;
    padding-top: 40px;
  }
  #tabla{
    margin: auto;
    padding-bottom: 40px;
  }
  .jst{
    text-align: justify;
  }
  .cent{
    text-align: center;
  }
  #titulo{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #boton{
    background:#0098eb;
    color:#ffffff;
    font-size:19px;
    font-weight:bold;
    line-height:100%;
    text-decoration:none;
    padding:13px 38px 13px 38px;
    border-radius:6px;
    border: 1px black solid;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #boton:hover{
    background:#0270ac;
  }
  
  @media only screen and (max-width:542px) {
    #titulo{
    font-size: 30px;
    }
  }
    @media only screen and (max-width:442px) {
    #titulo{
    font-size: 20px;
    }
    #boton{
    margin-bottom: 30px;
    margin-top: 30px;
    }
    
  }
</style>
<body>
  <div id="principal">
    <table id="tabla" >
      <tr>
        <td id="titulo" class="cent"><b>Hola, <%= nombre %></b></td>
      </tr>
      <tr>
        <br>
        <br>
        <br>
        <td class="jst"><b>Tu Contraseña de acceso a la <%= tienda%> se ha actualizado con exito!</b><br></td>
      </tr>
      <tr>
        <td class="jst"> 
          <br>
          <br>
          <br>
          ¿No fuiste tu el que cambio la clave? Si es asi te invitamos a que recuperes tu clave desde nuestra pagina web.
          <br> 
          <br>
          Saludos, Tienda <%= tienda %></td>
      </tr>
    </table>
  </div>
</body>

</html>
